<div class="container">
    <div class="row">
        <div class="col-xs-8 col-lg-12 col-xs-offset-2">
            <form (ngSubmit)="onSubmit(formDrivenTemplate)" #formDrivenTemplate="ngForm" autocomplete="off">
                <div class="form-group">
                    <label>Email (admin@admin.adm)</label>
                    <input type="email" class="form-control" name="email" ngModel required email
                        #emailFieldControl="ngModel">
                    <ng-container
                        *ngIf="emailFieldControl.invalid && emailFieldControl.dirty && emailFieldControl.touched">
                        <span class="error-msg" *ngIf="emailFieldControl.errors.required">Обязательно для заполнения</span>
                        <span class="error-msg" *ngIf="emailFieldControl.errors.email">Ошибка формата</span>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label>Пароль (adminA123)</label>
                    <input type="password" class="form-control" name="password" ngModel required minlength="8"
                        maxlength="16" #passwordFieldControl="ngModel">
                    <ng-container
                        *ngIf="passwordFieldControl.invalid && passwordFieldControl.dirty && passwordFieldControl.touched">
                        <ng-container
                            *ngIf="(passwordFieldControl.errors.minlength.requiredLength - passwordFieldControl.errors.minlength.actualLength) > 0">
                            Осталось
                            {{ passwordFieldControl.errors.minlength.requiredLength - passwordFieldControl.errors.minlength.actualLength }}
                            символов
                        </ng-container>
                        <span class="error-msg"
                            *ngIf="passwordFieldControl.errors.minlength || passwordFieldControl.errors.maxlength">
                            Ошибка: минимальная длина - {{ passwordFieldControl.errors.minlength.requiredLength }};
                            длина - {{ passwordFieldControl.errors.minlength.actualLength }}</span>
                        <span class="error-msg" *ngIf="passwordFieldControl.errors.required">Field is required</span>
                    </ng-container>
                </div>
                <button class="btn btn-success" type="submit"
                    [disabled]="formDrivenTemplate.form.invalid">Логин</button>
            </form>
        </div>
    </div>
</div>