<div class="container" *ngIf="this.loaded; else containerNoLoaded">
  <div *ngIf="this.favorites.length; then listFilms else noFilms"></div>

  <ng-template #listFilms>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" class="fix-width-150"></th>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col" class="fix-width-100"><button class="btn btn-primary w-100" (click)="openCreate()" placement="left" ngbTooltip="Вы можете добавить через меню Список фильмов путем добавления в избранные">Создать</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filmItem of this.favorites">
          <td>
            <img src="{{ imgPath }}{{ filmItem.favImage }}" alt="{{ filmItem.favTitle }}" class="w-100">
          </td>
          <td>
            {{ filmItem.favTitle }}
          </td>
          <td>
            <p class="card-text limit-height">{{ filmItem.favOverview  | slice:0:400 }}</p>
          </td>
          <td>
            <button class="btn btn-success mb-2 w-100" (click)="openEdit(filmItem.id)">Редактировать</button>
            <button class="btn btn-danger w-100" (click)="removeFavorite(filmItem.id)">Удалить</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #noFilms>
    <div class="row">
      <div class="col text-center">
        <h2>Не найдено <button class="btn btn-primary w-100" (click)="openCreate()">Создать запись</button></h2>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #containerNoLoaded>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>